
.container {
    padding: 4.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    font-family: var(--font);
}
.container > div {
    border-radius: 0.5rem;
    background-color: var(--color-white);
}

.container > div:first-of-type {
    background-color: var(--color-moderate-violet);
    background-image:url("../../assets/images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: right 1.5rem top;
}

.container > div:first-of-type img {
    border: 2px solid var(--color-light-violet);
}

.container > div:nth-of-type(2) {
    background-color: var(--color-very-dark-grayish-blue);
}

.container > div:nth-of-type(4) {
    background-color: var(--color-very-dark-blackish-blue);
}

.container > div:nth-of-type(4) img {
    border: 2px solid var(--color-light-violet);
}
.container > div:nth-of-type(1) span:first-of-type,
.container > div:nth-of-type(1) span:nth-of-type(2),
.container > div:nth-of-type(1) h2,
.container > div:nth-of-type(1) p,
.container > div:nth-of-type(2) span:first-of-type,
.container > div:nth-of-type(2) span:nth-of-type(2),
.container > div:nth-of-type(2) h2,
.container > div:nth-of-type(2) p,
.container > div:nth-of-type(4) span:first-of-type,
.container > div:nth-of-type(4) span:nth-of-type(2),
.container > div:nth-of-type(4) h2,
.container > div:nth-of-type(4) p   {
    color: var(--color-white);
}

@media (min-width: 64em) { /* 1024px */
    .container {
        display: grid;
        max-width: 72.5em; /* 1160px */
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1.75rem;
        row-gap: 1.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .container > div {
        align-items: flex-start;
    }

    .container > div:first-of-type {
        grid-column: 1 / 3;
        background-position: right 5rem top;
    }

    .container > div:nth-of-type(3) {
        grid-column: 1 / 2;
    }

    .container > div:nth-of-type(4) {
        grid-column: 2 / 4;
    }

    .container > div:nth-of-type(5){
        grid-column: 4 / -1;
        grid-row: 1 / 3;
    }

    .container > div:nth-of-type(3) section,
    .container > div:nth-of-type(4) section,
    .container > div:nth-of-type(5) section   {
        padding-bottom: 1.5rem;
    }

    .container > div:nth-of-type(3) p,
    .container > div:nth-of-type(4) p,
    .container > div:nth-of-type(5) p   {
        padding-top: 0.5rem;
    }
}